<!DOCTYPE html>
{% extends "prework_app/base.html" %}
{% load staticfiles %}
  {% block body_block %}
    <h1>Hello how are you</h1>
    <h2>Here's your data</h2>
    {{injectme}}
    <div class="djangotwo">
      {% if users_list %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Access</th>
          </thead>
          {% for user in users_list %}
            <tr>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>No Records Found</p>
        {% endif %}
    </div>
    {% endblock %}
